<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer--middle-section">
    <div class="mdl-mega-footer--drop-down-section">
      <ul class="mdl-mega-footer--link-list">
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>
  </div>

  <div class="mdl-mega-footer--bottom-section">
  	™ Arin Weidner, 2019. Unauthorized use and/or duplication of these materials without express and written permission from this site’s author and/or owner is strictly prohibited. All content provided on this site is being used to illustrate/highlight the work that the author has completed as a part of employment/contract with clientele.
  </div>

</footer>
